body {
  font-family: 'Brush Script MT', cursive;
  text-align: center;
  margin: 0;
  padding: 16px;
  background: #efeaa0;
}

#card-container {
  position: relative;
  width: 100%;
  max-width: 350px;
  height: 450px;
  margin: auto;
}

.card {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background-size: cover;
  background-position: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}

.buttons button {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: none;
  font-size: 28px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.buttons button:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.buttons button:active {
  transform: scale(0.9);
}

#result {
  text-align:center;
  margin-top: 20px;
  font-size: 24px;
}

.result-container {
  display: flex;
  gap: 12px;
  margin-top: 16px;
}

.column {
  flex: 1;
}

.scroll-row {
  width: 100%;
  height: 220px;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  border-radius: 12px;
}

.scroll-row::-webkit-scrollbar {
  display: none;
}

.scroll-item {
  flex: 0 0 100%;         
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}


.hidden {
  display: none;
}